@model Address

@{
    ViewData["Title"] = " مسؤول";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

   <div class="row">						
       <div class="col-xl-8">
			<div class="card m-b-20">
				<div class="card-header">
					<h3 class="card-title">أنشاء عنوان  </h3>
				</div>
				<div class="card-body mb-0"> 
					<form class="form-horizontal" asp-action="Create" enctype="multipart/form-data" runat="server">
                        <div asp-validation-summary="All" style="margin-bottom: 2rem; text-align: center;" class="text-danger"></div>
                        
                        <div class="form-group">
                            <label asp-for="UserId" class="control-label"></label>
                            <select id="select-state" asp-for="UserId" class="form-control select2" asp-items="ViewBag.UserId">
                                <option value="@null">اختر المستخدم</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="CityId" class="control-label"></label>
                            <select id="select-state" asp-for="CityId" class="form-control select2" asp-items="ViewBag.CityId">
                                <option  value="@null">اختر المدينة</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Region" class="control-label"></label>
                            <input asp-for="Region" class="form-control" />
                            <span asp-validation-for="Region" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Street" class="control-label"></label>
                            <input asp-for="Street" class="form-control" />
                            <span asp-validation-for="Street" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BuildingNumber" class="control-label"></label>
                            <input asp-for="BuildingNumber" class="form-control" />
                            <span asp-validation-for="BuildingNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FlatNumber" class="control-label"></label>
                            <input asp-for="FlatNumber" class="form-control" />
                            <span asp-validation-for="FlatNumber" class="text-danger"></span>
                        </div>
                       

                        
                        <div class="form-group">
                            <label asp-for="AddressDetails" class="control-label"></label>
                            <input asp-for="AddressDetails" class="form-control" />
                            <span asp-validation-for="AddressDetails" class="text-danger"></span>
                        </div>
                    
				
                       
                      
						<div class="form-group mb-0 row justify-content-end">
							<div class="col-md-9 float-end">
								<input type="submit" value="أنشاء" class="btn btn-primary waves-effect waves-light">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
   </div>
		
 <div style="margin-bottom: 4rem;text-align: end;">
    <a asp-action="Index"class="btn btn-secondary">العودة للقائمة</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />

    <script>
              $(document).ready(function () {
          $('select').selectize({
              sortField: 'text'
          });
      });
        </script>
}

